body{
    padding: 0;
    margin:0;
}

.main_content_body {
    background: -webkit-gradient(linear,
            left bottom,
            right top,
            from(#08aeea),
            to(#b721ff));
    background: -webkit-linear-gradient(bottom left,
            #08aeea 0%,
            #b721ff 100%);
    background: -moz-linear-gradient(bottom left,
            #08aeea 0%,
            #b721ff 100%);
    background: -o-linear-gradient(bottom left,
            #08aeea 0%,
            #b721ff 100%);
    background: linear-gradient(to top right,
            #08aeea 0%,
            #b721ff 100%);
            padding: 50px;
}

.bjf_layout {
    max-width: 790px;
    margin: auto;
}

.bjf_wrap {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.bjf_header {
    padding: 20px 0;
    background: #ff6934;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.bjf_title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.bjf_desc {
    text-align: center;
    color: #fff;
    margin-top: 8px;
}

.bjf_body {
    padding: 52px 85px;
    padding-bottom: 73px;
}

.bjf_header img {
    max-width: 200px;
}

.bjf_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.bjf_row .bjf_label {
    width: 125px;
    color: #555;
    font-size: 15px;
    font-weight: 700;
}

.bjf_row .input_wrap {
    width: -webkit-calc(100% - 125px);
    width: -moz-calc(100% - 125px);
    width: calc(100% - 125px);
    /*position: relative;*/
}

.bjf_hint {
    font-size: 1.2rem;
}

.bjf_input {
    background: #e5e5e5;
    line-height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: 0px !important;
    min-height: 50px;
}

.bjf_btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
}

.bjf_submit {
    background-color: #ff6934;
    color: white;
    border: none;
    cursor: pointer;
}

.bjf_submit:hover {
    background-color: #ff6934;
}

.bjf_input:focus,
.bjf_textarea:focus {
    outline: none;
    border-color: #ff6934;
}

@media (max-width: 767px) {
    .bjf_row {
        display: block;
    }

    .bjf_row .bjf_label,
    .bjf_row .input_wrap {
        width: 100%;
    }

    .bjf_body {
        padding: 36px 30px;
        padding-bottom: 73px;
    }
}